/vendor
.env
.env.backup
.phpunit.result.cache
.idea
/sprint
.DS_Store

/app/Console/Commands/Test.php
composer.lock
/dist
/public/dist
/public/index.html
/public/static
/public/console
/public/admin.html
/public/favicon.ico
/public/plugin
/public/storage